@import 'tailwindcss';
html,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
html {
  overflow: hidden;
  scroll-behavior: smooth;
  background-position: center;
  background-image: url('images/books-background.png');
  background-color: #181a22;
  background-size: cover;
  background-repeat: no-repeat;
}
body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
