@import 'tailwindcss';
html,
#root {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #0a162b;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: 0;
  /*display: flex;*/
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}
